<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmartG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmartG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SmartG.Properties.Settings.XLCatlinConnectionString"
            connectionString="Data Source=SMARTG_SERVERXL;Initial Catalog=AxaXLProduccion;User ID=usuarioxl;Password=kreios1020"
            providerName="System.Data.SqlClient" />
        <add name="SmartG.Properties.Settings.DocumentosSmartGConnectionString"
            connectionString="Data Source=smartg_serverxl;Initial Catalog=DocumentosSmartG;Persist Security Info=True;User ID=UsuarioXL;Password=kreios1020"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <SmartG.Properties.Settings>
            <setting name="SmartG_FinkokTimbradoWS_StampSOAP" serializeAs="String">
                <value>https://demo-facturacion.finkok.com/servicios/soap/stamp</value>
            </setting>
            <setting name="SmartG_FinkokCancelacionWS_CancelSOAP" serializeAs="String">
                <value>https://demo-facturacion.finkok.com/servicios/soap/cancel</value>
            </setting>
            <setting name="emailSoporteTecnico" serializeAs="String">
                <value>smartgdesk@kreios.mx</value>
            </setting>
            <setting name="SmartG_FinkokTimbradoWS_Produccion_StampSOAP"
                serializeAs="String">
                <value>https://facturacion.finkok.com/servicios/soap/stamp</value>
            </setting>
            <setting name="SmartG_FinkokCancelacionWS_Produccion_CancelSOAP"
                serializeAs="String">
                <value>https://facturacion.finkok.com/servicios/soap/cancel</value>
            </setting>
            <setting name="SmartG_FinkokRetencionesWS_Pruebas_RetentionsSOAP"
                serializeAs="String">
                <value>https://demo-facturacion.finkok.com/servicios/soap/retentions</value>
            </setting>
            <setting name="SmartG_FinkokRetencionesWS_Produccion_RetentionsSOAP"
                serializeAs="String">
                <value>https://facturacion.finkok.com/servicios/soap/retentions</value>
            </setting>
        </SmartG.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="DefaultStandardEndpoint" />
                <binding name="DefaultDuplexEndpoint" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/UiPath/service/agent"
                binding="netNamedPipeBinding" bindingConfiguration="DefaultStandardEndpoint"
                contract="UiPathRobotApi.IUiPathRemoteContract" name="DefaultStandardEndpoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/UiPath/service/duplex/agent"
                binding="netNamedPipeBinding" bindingConfiguration="DefaultDuplexEndpoint"
                contract="UiPathRobotApi.IUiPathRemoteDuplexContract" name="DefaultDuplexEndpoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
    <userSettings>
        <SmartG.Properties.Settings>
            <setting name="idiomaSeleccionado" serializeAs="String">
                <value>Español</value>
            </setting>
            <setting name="TelefonoAtencion" serializeAs="String">
                <value>+52 (55) 5953 7164</value>
            </setting>
            <setting name="TiempoEsperaBloqueo" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ColorScheme" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="usuarioDefault" serializeAs="String">
                <value>admin</value>
            </setting>
        </SmartG.Properties.Settings>
    </userSettings>
</configuration>